.bar {
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-top {
    position: fixed;
    z-index: 9000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--blue-ruin);
    padding-top: 10px;
    padding-bottom: 10px;
    [class*='logo'] svg {
      fill: #fff;
    }
  }
  @import './search';
}
